body{
    margin: auto;
    text-align: center;
}
.darkTheme{
    background-color: rgb(15, 21, 26);
    color: white;
}
.darkTheme #toggle{
    background-color: rgb(15, 21, 26);
    color: white;
    border: 2px solid white;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}
.lightTheme{
    background-color: white;
    color: black;
}
.lightTheme #toggle{
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}